
#Input-Button{
    padding: 20px;
    color: blueviolet;
    background-color: aquamarine;
    border: 1px,black;
    border-radius: 3px;
}
#input-button:hover{
    background-color: brown;
}
#text{
    margin-left: 5px;
    font-family:'Times New Roman', Times, serif;
}
h1{
    color:red;
}